@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;650&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;;
}

body {
    background: rgb(120, 138, 189);
}

canvas {
    margin: 100px auto 50px auto;
    display: block;
}

div {
    text-align: center;
}

button {
    padding: 10px 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo {
    display: flex;
    padding-top: 50px;
    height: 100px;
    width: 100px;
    padding-bottom: 15px;
    margin: auto;
}

h1 {
    color: white;
}

.cover {
    width: 900px;
    height: 500px;
    display: block;
    margin: 100px auto 50px auto;
}

.hidden {
    display: none;
}